*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NavBar starts */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 50px;
  }
  
  /* Navigation links */
  .nav-links {
    display: flex;
    list-style-type: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff3f6c;
  }
  
  .new-tag {
    background-color: #ff3f6c;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px;
  }
  
  /* Search Bar */
  .search-bar {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Profile section */
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-section a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    position: relative;
  }
  
  .profile-section a:hover {
    color: #ff3f6c;
  }
  
  .profile-section a::before {
    content: '•';
    font-size: 10px;
    color: #ccc;
    position: absolute;
    left: -10px;
    top: 0;
  }
  
  .profile-section a:first-child::before {
    content: '';
  }

/* NavBar Ends */

/* slides Strat*/
main{
    width: 100%;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 3px grey;
    position:relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height:100%;
    transition: 1s;
    position:absolute;
}
/* .nav{
    text-align: center;
    margin-top: 15px;
}
.nav button{
    font-size: 15px;
} */

/* Slides Ends */

/* slider1 starts */
.slider1{
    width: 100%;
    height: 220px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 3px grey;
    position:relative;
    overflow: hidden;
}
.slide1{
    width: 100%;
    height:100%;
    transition: 1s;
    position:absolute;
}
/* slider1 ends */

/** footer **/
footer{
    margin-top: 15px;
}
.foot_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot_panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
/** panel3**/
.foot_panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background: url("amazon_logo.jpeg");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot_panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
    
}
.pages{
    padding-top: 25px;
}
.copy_right{
    padding-top: 5px;
}


